.fifthPageMainContainer {
    position: absolute;
    top: 1300vh;
    left: 0;
    width: 100vw;
    height: 400vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap:1%;
    padding-top:5%;
}
.titleContainer{
    width:100%;  
    height:30vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.titleContainer h1{
    margin-bottom:0;
}
.titleContainer p {
    margin-top:0;
    font-size: 1.1rem;
}
.titleContainer:before{
    content: "";
    background: radial-gradient(rgba(255, 255, 255, 0), black 60%);
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}
.fifthPageMainContainer h1{
    font-size: 2.4rem;
    position: relative;
}
.titleContainer h1::before {
    content:" ";
    width:40%;
    height:3px;
    background-color: rgba(255, 255, 255, 0.626);
    position: absolute;
    left:-100;
    top:20;
}
.titleContainer h1::after {
    content: " ";
    width: 40%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.626);
    position: absolute;
    right:-100;
    top: 20;
}
.introductionContainer{
    height: 100vh;
    width:100%;
    background:linear-gradient(to right, var(--space-blue),black);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}
.wordContainer{
    width:50%;
    height:100%;
    text-align: end;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.wordContainer p{
    color:rgba(255, 255, 255, 0.5);
    font-style: italic;
}
.imageContainer{
    width:40%;
    padding-left: 2%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    opacity:0.7;
}
.desktopImage{
    height:70%;
    width:auto;
    border: solid rgba(255, 255, 255, 0.3) 1px;
    border-radius: 1rem;
}
.mobileImage{
    height:50%;
    width:auto;
    border:solid rgba(255, 255, 255, 0.3) 1px;
    border-radius: 1rem;
    position: absolute;
    right:70;
    bottom:10;
}
.videoContainer{
    margin-top: 5%;
    padding: 0;
    width:62%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s linear;
    opacity: 0.6;
}
.fifthPageMainContainer video{
    width:100%;
    height: auto;
    border-radius: 20px;
    transition: 0.4s linear;
}
.photoContainer{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.photoContainerPadding{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}
.photo{
    height: 100%;
    width: auto;
    border-radius: 20px;
    border:solid rgba(255, 255, 255, 0.453) 1px;
    transition: 0.2s ease-in-out;
}
.photo:hover{
    cursor: pointer;
}
.collapseButton{
    width:63%;
    height:3rem;
    background-color: rgb(16, 16, 16);
    color:white;
    border:none;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
}
.collapseButton:hover{
    background-color: rgb(20, 20, 20);
}

.descriptionContainer{
    height:80%;
    width:100%;
    gap:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}
.descriptionContainer h1{
    width: 100%;
    height:20vh;
    background-color: rgb(10, 10, 10);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionContainer h1:before{
    content:"";
    height:20vh;
    width:100%;
    position: absolute;
    background:linear-gradient(to top, rgba(5, 5, 27), black);
    top:-110;
}
.descriptionContainer h1:after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: 0;
}
.descriptionContainer p{
    position: relative;
    margin-bottom: 5%;
    color:rgba(255, 255, 255, 0.3);
}
.descriptionContainer span{
    color:var(--light-powder);
}
.descriptionContainer p:before{
    content:"";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height:110%;
    width:1px;
    left:-10;
    top:0;
}
.logoContainer{
    color:var(--light-powder);
    font-size: 2.5rem;
}
.cardContainer{
    height:40%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
    background:radial-gradient(rgba(5, 5, 27),black)
}
.card{
    height:90%;
    width:22%;
    background-color: rgb(10,10,10);
    border-radius: 1rem;
    padding: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.2s ease-in-out;
    position: relative;
}
.card:after{
    content:"";
    background-color: rgba(255, 255, 255, 0.1);
    height:1px;
    width:80%;
    position: absolute;
}
.card:hover{
    background-color: rgb(15, 15, 15);
    transform: translateY(-2%);
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.08);
}
.card:hover li{
    color:rgba(255, 255, 255, 0.3);
}
.card li{
    color:var(--powder);
    align-self: start;
    margin-left: 10%;
}
.card li:hover{
    color:rgba(255, 255, 255, 0.3);
}
.icon{
    width:50%;
    height:auto;
}
.madeWithContainer{
    align-self: flex-end;
    margin-right:10%;
    margin-top: 2%;
}
.madeWithContainer span{
    color: white;
}