body{
    margin:0;
    padding:0;
    height: 1750vh;
    overflow-x: hidden;
    background-color: black;
    scroll-behavior: smooth;
    font-family: var(--font-karla);
}
:root {
    --powder: rgb(39, 54, 91);
    --light-powder: rgb(41, 74, 158);
    --turquoise:rgb(0, 255, 242);
    --lavender:rgb(136, 0, 255);
    --lime: rgba(0, 255, 0, 0.5);
    --darkLime: rgba(0, 255, 0, 0.2);
    --space-blue:rgba(5, 5, 27);
}

.developerNickname{
    font-size:4rem;
    font-weight: 1000;
    margin: 0;
}
.developerName{
    margin: 0;
    font-size:2.5rem;
}
.developerSkills{
    margin-top:1rem;
    margin-bottom:0;
    font-size: 1.5rem;
    font-weight: 400;
}
.developerSkillsDescriptionContainer{
    margin: 0;
    width:80%;
}
.developerSkillsDescription{
    font-size: 1.2rem;
    font-weight: 100;
}
.firstPageMainContainer{
    position: relative;
}
.firstPageMainContainer::after{
    position:absolute;
    content:"";
    background-color: rgba(255, 255, 255, 0.675);
    width:90%;
    height:0.2rem;
    left:5%;
    bottom:8%;
    border-radius:1rem;
}
.firstPageMainContainer::before{
    content: "";
    inset: 0;
    scale:1.2;
    position: absolute;
    opacity: 0.06;
    pointer-events: none;
}
.firstPageMainContainer{
    overflow:hidden;
    z-index: 0;
    position:absolute;
    left: 0;
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    color:white;
    /* background:linear-gradient(to left, rgb(18, 1, 31),rgb(34, 13, 51),rgb(56, 28, 77)); */
}
.developerDescriptionSide{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width:55%;
    height: 100vh;
    z-index:3;
}
.developerImageSide{
    width:45%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.developerRGB::after{
    z-index:-1;
    position:absolute;
    content:"";
    width:30rem;
    height:30rem;
    border-radius: 50%;
    background:radial-gradient(white,rgba(255, 255, 255, 0.197), rgba(56, 28, 77, 0.044) ,rgba(56, 28, 77, 0.038));
}
.developerRGB{
    position: relative;
    width:18rem;
    height:18rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    border: solid white 1px;
}
.developerPhotoContainer{
    width:95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}
.developerPhoto{
  width:100%;
  height: auto;
}

.moreButtonsSection{
    margin-top:2%;
    width:80%;
    height:6%;
    padding:0;
    font-size: 0.9rem;
    display: flex;
    gap:3%;
}
.getInTouchButton{
    width:25%;
    height:100%;
    font-size:1rem;
    color:white;
    border-radius: 2rem;
    border:white 1px solid;
    /* border-left: none;
    border-top: none; */
    /* background:linear-gradient(to right, rgb(51, 173, 144),rgb(135, 92, 152)); */
    background:linear-gradient(to right, rgb(39, 54, 91),rgba(0, 0, 0, 0.311));
    transition: 0.2s ease-in-out;
}
.getInTouchButton:hover{
    width: 28%;
    cursor: pointer;
    background: linear-gradient(to right,rgb(39, 54, 91),rgb(39, 54, 91), rgba(0, 0, 0, 0.311));
}
.developerDescriptionSide h3{
    color: rgba(255, 255, 255, 0.5);
}
.developerDescriptionSide span{
    transition: 0.5s linear;
}
.developerDescriptionSide:hover span{
    color:white;
    font-weight: 200;
}
.iconContainer{
    position: relative;
    height: 100%;
    width: auto;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    height:100%;
    width: auto;
    transition: 0.2s linear;
    color:white;
}
.icon:hover{
    color: var(--light-powder);
    cursor: pointer;
}
.icnButtons{
    position: relative;
    height:100%;
    width:auto;
    border: white 1px solid;
    border-radius:0.3rem;
}
.icnButtons:hover{
    cursor: pointer;
}
@media (max-width: 640px) {
    body{
        height:1050vh;
    }
    .firstPageMainContainer{
        display: flex;
        flex-direction: column;
    }
    .developerImageSide{
        height:20%;
        width: 100%;
        padding-top: 30%;
    }
    .developerRGB{
        width:13rem;
        height:13rem;
    }
    .developerDescriptionSide{
        gap:2%;
        height:70%;
        width: 100%;
        padding-left:15%;
    }
    .developerNickname{
        font-size: 3.5rem;
    }
    .developerName{
        font-size: 1.7rem;
    }
    .developerRGB::after {
        width: 25rem;
        height: 25rem;
    }
    .developerSkills{
        font-size: 1.4rem;
    }
    .moreButtonsSection {
        width: 100%;
    }
    .getInTouchButton{
        width:35%;
    }
    .developerSkillsDescription span{
        color:white;
    }
    .firstPageMainContainer::after{
        bottom:2%;
    }
}