.fourthPageMainContainer {
    position: absolute;
    top: 1000vh;
    left: 0;
    width: 100vw;
    height: 300vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: black;
}
.title{
    font-size: 2rem;
    margin-bottom: 0;
    position: relative;
}
.title:before{
    content:"";
    width:2px;
    height:220%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.459);
    left:-20;
    top:5;
}
.subtitle{
    margin-top:15;
    color:rgba(255, 255, 255, 0.2);
    font-size:1.5rem;
}
.mainImageContainer{
    width:60%;
    position: relative;
    transition: 0.2s linear;
}
.mainImageContainer:hover{
    transform: translateY(-1%);
}
.mainImageContainer:before{
  content: "";
  position: absolute;
  background: linear-gradient(45deg,black,rgba(0, 0, 0, 0)70%);
  z-index: 1;
  width:90%;
  height:100vh;
  left:0;
  top:0;
}
.mainImage{
    width:100%;
    height: auto;
    opacity: 0.8;
}

.secondContainer{
    width:100%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background:linear-gradient(to top, rgba(5, 5, 27),black)
}
.secondContainer h2{
    position: absolute;
    top:50;
    font-size: 2rem;
}
.secondContainer h4{
    position: absolute;
    top:100;
    font-size: 1.4rem;
    color:rgba(255, 255, 255, 0.3);
    font-style: italic;
}
.secondContainer h4 span{
    color:var(--powder);
}
.secondContainer::before{
    content: "";
    height:1px;
    width:80%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top:0;
}

.firstContainer{
    width: 100%;
    height:38%;
    position: relative;
    display: flex;
    align-items: center;
}
.titleContainer{
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.titleContainer h1{
    margin-top: 0;
    font-size: 4.5rem;
    margin-bottom: 20;
    color:var(--light-powder);
}
.titleContainer span{
    font-size: 2rem;
    margin-right: 5;
    color:rgba(255, 255, 255, 0.3);
}
.titleContainer p{
    color: rgba(255, 255, 255, 0.3);
    margin-right: 10;
    font-size: 1.2rem;
}
.iconContainer{
    text-align: end;
    height:3.5rem;
    width:13rem;
    background:linear-gradient(to right, var(--powder),black);
    margin-bottom: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    opacity:0.7;
}

.button{
    width:8rem;
    height:6vh;
    font-size: 1.1rem;
    text-decoration: none;
    margin-right: 10;
    background-color: rgb(8, 8, 8);
    border-radius: 1rem;
    color:rgba(255, 255, 255, 0.3);
    border:solid rgba(255, 255, 255, 0.1) 1px;
    transition: 0.2s linear;
}
.button:hover{
    background-color: var(--powder);
    cursor: pointer;
}
.photoContainer{
    align-self:end;
    margin-right: 0;
    width:50%;
    height:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1%;
}
.descriptionContainer{
    width:48%;
    height:45%;
    margin-top:17%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left:2%;
    background-color: rgb(5, 5, 5);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: 0.2s linear;
    transform: translateX(-1%);
    border:solid 1px rgba(255, 255, 255, 0.1);
    gap:2%;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.05);
}
.descriptionContainer h1{
    color:var(--light-powder);
    margin-bottom:0;
}
.descriptionContainer:hover span{
    color:var(--powder);
}
.descriptionContainer span{
    transition: 0.5s linear;
}
.descriptionContainer:hover{
    background-color: rgb(10, 10, 10);
    transform: translateX(0%);
}
.descriptionContainer p{
   color: white;
   font-size: 1.2rem;
}
.descriptionContainer li{
   color:rgba(255, 255, 255, 0.3);
   margin-left: 2%;
}
.photo1{
    width:85%;
    height: auto;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
    border: rgba(255, 255, 255, 0.082) solid 1px;
    z-index: 1;
}
.photo1:hover {
    transform: scale(1.01);
    cursor: pointer;
    border-radius: 5px;
    border:solid 1px rgba(255, 255, 255, 0.215);
}
.secondPhotoContainer{
    width:100%;
    height:27%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1%;
}
.link {
    width: 13rem;
    height: 3rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.2s linear;
    border:solid 1px rgba(255, 255, 255, 0.1);
}
.link p{
    font-size: 1rem;
}
.link:hover {
    background-color: var(--powder);
}

.link:hover {
    transform: translateX(2%);
}
.photo2{
    height:52%;
    width: auto;
    border-radius:5px;
    border:rgba(255, 255, 255, 0.138) solid 1px;
    transition: ease-in-out 0.2s;
    z-index: 1;
}
.photo2:hover{
    transform: scale(1.01);
    cursor: pointer;
    border: solid 1px rgba(255, 255, 255, 0.477);
}
.icon {
    margin-left: 2%;
}
.madeWithContainer{
    position: absolute;
    bottom:20;
    right:70;
    color:rgba(255, 255, 255, 0.3);
}
@media (max-width: 640px) {
    .fourthPageMainContainer{
        top:640vh;
        justify-content: start;
        height:250vh;
        gap:2%; 
    }
    .title{
        font-size: 1rem;
        margin-left:15%;
    }
    .subtitle{
        font-size: 1rem;
        margin-left: 15%;
    }
    .title:before{
        height:170%;
    }

    .firstContainer{
        flex-direction: column;
        padding-top: 5%;
        height:60vh;
    }
    .mainImageContainer{
        width:100%;
    }
    .mainImageContainer:before{
        height: 100%;
    }
    .titleContainer h1{
        font-size: 3rem;
        margin: 0;
    }
    .titleContainer span{
        font-size: 1.5rem;
        margin: 0;
    }
    .titleContainer p{
        font-size: 1rem;
        margin:10;
    }
    .iconContainer{
        text-align: center;
        height:20%;
    }
    .button{
        height:2rem;
        font-size: 1rem;
        border-radius: 2rem;
        background-color: var(--powder);
    }
    .secondContainer{
        flex-direction: column;
        height:100vh;
        gap:0;
    }
    .secondContainer h2{
        margin-top: 0;
        text-align: center;
        font-size: 1rem;
        width: 80%;
    }
    .secondContainer h4{
        margin-top: 0;
        font-size: 1rem;
    }
    .descriptionContainer{
        height:40%;
        width: 85%;
        padding-left: 10%;
        padding-right: 5%;
        margin-top: 30%;
    }
    .descriptionContainer h1{
        font-size: 1.2rem;
    }
    .descriptionContainer p{
        font-size: 0.8rem;
        font-weight: 100;
    }
    .descriptionContainer li{
        font-size: 0.8rem;
    }
    .photoContainer{
        height:35%;
        width: 100%;
        margin-top:5%;
    }
    .link{
        margin-top: 5%;
        height:2.2rem;
        width:52%;
    }
    .secondPhotoContainer{
        height:40%;
    }
    .madeWithContainer{
        bottom:5;
    }
    .madeWithContainer span{
        font-size: 0.8rem;
    }
}