.navBarMainContainer{
    z-index: 1;
    width:100%;
    height:10vh;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 0 0 0 20px;
    /* box-shadow: 5px 5px 5px rgb(62, 63, 91); */
}
.logo{
    position: absolute;
    left: 10;
    top:10;
    width:8%;
    height: auto;
}
.navBarMainContainer div{
  width:100%;
  height:100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap:5%;
  padding-right: 1%;
  padding-right: 5%;
}
.navBarMainContainer p{
    position: relative;
    font-size: 1.1rem;
    font-weight:100;
    color:white;
}
.navBarMainContainer p:hover{
    cursor:pointer;
}
.navBarMainContainer p::after{
   content:" ";
   position: absolute;
   top:30;
   right:0;
   width:0%;
   height: 1px;
   background-color: white;
   border-radius: 2px;
   transition: ease-in 0.4s;
   opacity: 0;
}
.navBarMainContainer p:hover::after {
    opacity: 1;
    width: 100%;
}
/*----------my dark gradient effect------------*/
.darkgradient{
    width:100vw;
    height:20vh;
    background:linear-gradient(rgba(0, 0, 0, 0),black);
    position: fixed;
    bottom:0;
    pointer-events: none;
}
@media (max-width: 640px) {
    .logo{
        width: 20%;
        height:auto;
    }

    .navBarMainContainer{
        height:5vh;
    }
    .navBarMainContainer p {
        font-size: 0.9rem;
    }

}