.secondPageMainContainer{
    position: absolute;
    top:110vh;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.mainContainer{
    overflow: hidden;
    border:rgba(255, 255, 255, 0.3) 1px solid;
    border-radius: 2rem;
    width:85%;
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:1%;
    padding-top:2%;
    background:radial-gradient(rgba(5, 5, 27, 0.8), black);
}

.detailsContainer{
    height: 80%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1%;
    padding-right:2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.detailsContainer h2{
    font-size:2rem;
}
.aboutMeContainer{
    width:28%;
    height:90%;
    padding-left:10%;
    background-color: rgba(15, 15, 15, 0.475);
    transition:0.1s ease-in;
    display: flex;
    flex-direction: column;
}
.aboutMeContainer:hover{
    background-color: rgba(22, 22, 22, 0.475);
}
.aboutMeContainer p{
    margin-left:0;
}
.skillsContainer{
    width: 58%;
    height: 90%;
    display:flex;
    flex-direction: column;
    background-color:rgba(15, 15, 15, 0.475);
    transition: 0.1s ease-in;
}
.skillsContainer:hover{
    background-color: rgba(22, 22, 22, 0.475);
}
.skillsContainer h2{
    margin-left:35%;
}

.webdevelopmentContainer{
    width:100%;
    height:17%;
    display: flex;
    align-items: center;
    gap:2%;
    padding-left:10%;
}
.icons{
    height: 60%;
    width: auto;
}