.secondPageMainContainer{
    width:100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    position: absolute;
    top:100vh;
}
.mainContainer{
    overflow: hidden;
    border:rgba(255, 255, 255, 0.3) 1px solid;
    border-radius: 2rem;
    width:85%;
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:1%;
    padding-top:2%;
    background:radial-gradient(rgba(25, 25, 87, 0.8), black);
}

.detailsContainer{
    height: 80%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1%;
    padding-right:2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.detailsContainer h2{
    font-size:2rem;
}
.aboutMeContainer{
    width:28%;
    height:90%;
    padding-left:10%;
    background-color: rgba(15, 15, 15, 0.703);
    transition:0.1s ease-in;
    display: flex;
    flex-direction: column;
}
.aboutMeContainer:hover{
    background-color:rgba(15, 15, 15, 0.9);
}
.aboutMeContainer p{
    margin-left:0;
}
.skillsContainer{
    width: 58%;
    height: 90%;
    display:flex;
    flex-direction: column;
    background-color:rgba(15, 15, 15, 0.703);
    transition: 0.1s ease-in;
}
.skillsContainer:hover{
    background-color:rgba(15, 15, 15, 0.9);
}
.skillsContainer h2{
    margin-left:35%;
}

.webdevelopmentContainer{
    width:100%;
    height:17%;
    display: flex;
    align-items: center;
    gap:2%;
    padding-left:10%;
}
.icons{
    height: 60%;
    width: auto;
}
@media (max-width: 640px) {
    .secondPageMainContainer{
        top:100vh;
    }
    .mainContainer{
        padding-top:0;
        flex-direction: column;
        height:80vh;
        background:radial-gradient(black,black,black, var(--space-blue));
    }
    .mainContainer h1{
        margin-top: 0;
    }
    .detailsContainer{
        flex-direction: column;
        gap:5%;
    }
    .aboutMeContainer{
        border-top: solid 1px rgba(255, 255, 255, 0.3);
        text-align: center;
        height:50%;
        width: 98%;
        padding: 0;
        border-radius: 1rem;
        background-color: rgb(12, 12, 12);
    }
    .aboutMeContainer p{
        text-align: center;
        font-size: 0.7rem;
    }
    .skillsContainer{
        border-top: solid 1px rgba(255, 255, 255, 0.3);
        border-radius: 1rem;
        height: 50%;
        width: 98%;
        padding: 0;
        background-color: rgb(12, 12, 12);
    }
    .detailsContainer h2{
        margin-top: 3%;
        font-size: 1.5rem;
    }
    .skillsContainer p{
        font-size: 0.7rem;
    }
    .icons{
        height:40%;
        width: auto;
    }
}