.seventhPageMainContainer {
    position: absolute;
    top: 800vh;
    left: 0;
    width: 100vw;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.title{
    position: absolute;
    top:100;
    font-size: 3rem;
}
.leftContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width:50%;
    height:100%;
    gap:8%;
}
.rightContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 8%;
}
.card{
    width:80%;
    height:15%;
    display: flex;
    position: relative;
}
.card h1{
    font-size:2rem;
}

.card::after{
    content:" ";
    width:80%;
    height:1px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    bottom:-15;
}
.imageContainer{
    width:60%;
    height:100%;
    overflow: hidden;
    position: relative;
}
.image{
    border-top-left-radius: 1rem;
    width:100%;
    height:auto;
    position: absolute;
    bottom: 0;
}
.descriptionContainer{
    width:40%;
    padding-left:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.readMore{
    color:var(--light-powder);
    font-weight: 700;
    position: relative;
}
.readMore:hover{
    cursor: pointer;
}
.readMore:after{
    content:"";
    height:2px;
    width:0%;
    position: absolute;
    background-color:var(--light-powder);
    bottom:-5;
    left:0;
    transition: 0.2s linear;
}
.readMore:hover:after{
    width: 40%;
}