.sixthPageMainContainer {
    padding-top:5%;
    position: absolute;
    top: 620vh;
    left: 0;
    width: 100vw;
    height: 170vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 1%;
}
.sixthPageMainContainer::after{
    content: " ";
    width: 90%;
    height: 0.5vh;
    background-color: rgba(255, 255, 255, 0.521);
    position: absolute;
    align-self: center;
    bottom: 0;
}

.leftContainer{
    width:40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
}
.leftContainer h2{
    font-size: 2rem;
    font-family:var(--font-lexend);
}

.sixthPageMainContainer h1{
   align-self: start;
   position: absolute;
   font-size: 3rem;
   font-style: italic;
}
.sixthPageMainContainer h1:after{
    content:" ";
    width:110%;
    height:150%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.022), black);
    position: absolute;
    left:0;
    top:0;
}
.sixthPageMainContainer h1:before {
    content: " ";
    width: 110%;
    height: 2%;
    background-color:white;
    position: absolute;
    left: 0;
    bottom: -10;
}

.rightContainer{
    width:60%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1%;
}
.image1{
    width:55%;
    height:auto;
    border: white solid 1px;
    border-radius:1rem;
    opacity: 0.6;
}
.image1:hover {
    border: rgb(53, 28, 197) solid 1px;
    cursor: pointer
}
.image2:hover{
    border: rgb(53, 28, 197) solid 1px;
    cursor:pointer
}
.imageContainer{
    width:16.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:0.8%;
}
.image2{
    width:100%;
    height: auto;
    border:white solid 1px;
    border-radius: 1rem;
    opacity:0.7;
}
.card{
    background-color: rgb(15, 15, 15);
    border-radius: 1rem;
    font-size:1.2rem;
    padding: 5%;
    height:27%;
    transition: 0.2s linear;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}
.card:hover{
    border:rgba(255, 255, 255, 0.1) solid 1px;
    height:35%;
    cursor: pointer;
}
.card p{
    background-color: rgb(25, 25, 25);
    padding:4%;
}
.reactionsContainer{
    width:96%;
    padding:2%;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1%;
}
.userInputContainer{
    width:65%;
    height:100%;
    background-color: rgb(35, 35, 35);
    border-radius: 1rem;
}
.hashtagsContainer{
    width:100%;
    height:15%;
    background-color: rgb(25, 25, 25);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.hashtagsContainer h3 {
    font-size: 1rem;
}