.sixthPageMainContainer {
    padding-top:5%;
    position: absolute;
    overflow-x: hidden;
    top: 730vh;
    left: 0;
    width: 100vw;
    height:250vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap:2%;
}
.sixthPageMainContainer:after{
    content: "";
    width: 100%;
    height: 1px;
   background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    align-self: center;
    bottom: 0;
}
.sixthPageMainContainer h2{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.3);
}
.sixthPageMainContainer h2 span{
    color:var(--powder);
}
.introductionContainer{
    height:80vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:linear-gradient(to right, rgb(5, 5, 27), black);
}

.bgImage {
    height: 100%;
    width: auto;
    opacity: 0.5;
    right: 0;
    z-index: 1;
}

.imageContainer:after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), black 60%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.imageContainer:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border:solid rgba(255, 255, 255, 0.1) 1px;
    left: -10;
    top: -10;
}
.iconContainer{
    width:8rem;
    height:2rem;
    border-radius: 1rem;
    background: linear-gradient(to left, rgb(28, 28, 74), rgb(105, 105, 185));
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconContainer span{
    font-size: small;
    color:white;
}
.introduction{
    width:50%;
}
.introduction h2{
    font-size: 2.2rem;
    color:white;
}
.introductionContainer p{
    color:rgba(255, 255, 255, 0.3);
}
.introductionContainer span{
    transition: 0.5s linear;
}
.introductionContainer:hover .button{
    width:7.5rem;
}
.button{
    background-color:rgb(5, 5, 27);
    color:rgba(255, 255, 255, 0.5);
    border:solid 1px rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 1rem;
    height:2rem;
    width:7rem;
    border-radius:1rem;
    margin-top: 1%;
    transition: 0.5s linear;
}
.button:hover{
    background-color: var(--powder);
    cursor:pointer;
}
.introductionContainer:hover span{
    color:white;
}
.introduction p{
    width:80%;
}


.sixthPageMainContainer h1{
   position: relative;
   font-size: 3rem;
   font-style: italic;
   margin-bottom:0;
}
.sixthPageMainContainer h1:after{
    content:" ";
    width:110%;
    height:150%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.022), black);
    position: absolute;
    left:0;
    top:0;
}
.sixthPageMainContainer h1:before {
    content: " ";
    width: 110%;
    height: 2%;
    background-color:white;
    position: absolute;
    left: 0;
    bottom: -10;
}

.rightContainer{
    width:60%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1%;
}
.image1{
    width:55%;
    height:auto;
    border: white solid 1px;
    border-radius:1rem;
    opacity: 0.6;
}
.image1:hover {
    border: rgb(53, 28, 197) solid 1px;
    cursor: pointer
}
.image2:hover{
    border: rgb(53, 28, 197) solid 1px;
    cursor:pointer
}
.imageContainer{
    width:40%;
    height: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap:0.8%;
}
.image2{
    width:100%;
    height: auto;
    border:white solid 1px;
    border-radius: 1rem;
    opacity:0.7;
}
.card{
    background-color: rgb(15, 15, 15);
    border-radius: 1rem;
    font-size:1.2rem;
    padding: 5%;
    height:27%;
    transition: 0.2s linear;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}
.card:hover{
    border:rgba(255, 255, 255, 0.1) solid 1px;
    height:35%;
    cursor: pointer;
}
.card p{
    background-color: rgb(25, 25, 25);
    padding:4%;
}
.reactionsContainer{
    width:96%;
    padding:2%;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1%;
}
.userInputContainer{
    width:65%;
    height:100%;
    background-color: rgb(35, 35, 35);
    border-radius: 1rem;
}
.hashtagsContainer{
    width:100%;
    height:15%;
    background-color: rgb(25, 25, 25);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.hashtagsContainer h3 {
    font-size: 1rem;
}
.quotesContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20vh;
    gap:3%;
    background: radial-gradient(rgb(5, 5, 27), black);
}
.quotesContainer h4{
    font-size:1.5rem;
    color:var(--powder);
    font-style: italic;
}
.quotesContainer h5{
    color:rgba(255, 255, 255, 0.3);
}
@media (max-width: 640px) {
    .sixthPageMainContainer{
        top:460vh;
        text-align: center;
        justify-content: start;
        gap:1%;
        height:200vh;
    }
    .sixthPageMainContainer h1{
        margin-top: 0;
        font-size: 2rem;
    }
    .introductionContainer{
        margin-top: 5vh;
        height:80vh;
        flex-direction: column;
        justify-content: start;
        background: linear-gradient(to bottom, rgb(5, 5, 27), black);
        text-align: left;
        padding-top: 20%;
        gap:10%;
    }
    .introduction{
        width:95%;
        padding-left: 15%;
    }
    .introduction h2{
        font-size: 1.5re;
    }
    .imageContainer{
        width: 70%;
        height:30%;
        justify-content: start;
    }
    .imageContainer:after{
        height:100%;
        width:100%;
    }
    .imageContainer:before {
        height:80%;
        width: 100%;
    }
    .bgImage{
        height:80%;
        width: auto;
    }
    .quotesContainer h4{
        font-size: 0.7rem;
    }
    .quotesContainer h5{
        font-size: 0.5rem;
    }
}