.thirdPageMainContainer{
    position: absolute;
    top: 420vh;
    left: 0;
    width: 100vw;
    height: 350vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: black;
    padding-bottom: 2%;
}

/*------my main background------*/
.backgroundContainer{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left:15%;
}

.backgroundImage{
    width:100%;
    height:auto;
    border-top-left-radius: 1rem;
    border-top:solid 1px rgba(255, 255, 255, 0.3);
    border-left: solid 1px rgba(255, 255, 255, 0.3);
}
.backgroundContainer section {
    position: relative;
    width: 70%;
    display: flex;
    overflow: hidden;
}
.backgroundContainer section:before{
    content: "";
    background:linear-gradient(to right, rgba(0, 0, 0, 0),black);
    height:100%;
    width: 100%;
    position: absolute;
}

.thirdPageMainContainer:before{
    position: absolute;
    top:10;
    content:"";
    height:1px;
    width:80%;
    background-color: rgba(255, 255, 255, 0.486);
}
.thirdPageMainContainer:after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 20vh;
    width:100%;
    background:linear-gradient(rgba(255, 255, 255, 0.05),black);
    border-top:solid 1px rgba(255, 255, 255, 0.2);
}
.subtitleContainer{
    position: absolute;
    width: 38%;
    backdrop-filter: blur(5px);
    background:linear-gradient(to right, rgba(50, 50, 219, 0.02) ,black);
    padding-right:15%;
    padding-bottom:5%;
    right:0;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 4rem;
    transition: 0.5s linear;
}
.subtitleContainer:hover{
    backdrop-filter: blur(2px);
}
.subtitleContainer h2{
    transition: 0.5s linear;
}
.subtitleContainer:hover h2 {
    color:rgba(255, 255, 255, 0.5);
}

.subtitleContainer p{
    transition: 0.5s linear;
}
.subtitleContainer:hover p{
    color:rgba(255, 255, 255, 0.5);
}

.subtitleContainer h2{
    font-size:5rem;
    font-style:italic;
    position:relative;
    font-family: var(--font-intertight);
}
.subtitleContainer h3{
    font-family: var(--font-birthstone);
    font-size: 6rem;
    position: absolute;
    top: 0;
    color:var(--light-powder);
}
.subtitleContainer p{
    font-size: 1.2rem;
    color:rgba(255, 255, 255, 0.3);
    font-style: italic;
    margin-top:-5;
}
.subtitleContainer:hover button{
    width: 9rem;
}
.button{
    color:rgba(255, 255, 255, 0.5);
    width:8rem;
    height:2.5rem;
    background-color: transparent;
    border:solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    font-size: 1.1rem;
    transition: 0.5s linear;
}
.button:hover{
    cursor: pointer;
    background-color: var(--powder);
}
.titleContainer{
    margin-top: 0;
    margin-bottom: 25;
}
.title{
    font-size:2rem;
    margin-bottom:0;
}
.subtitle{
    color:rgba(255, 255, 255, 0.2);
    font-size:1.1rem;
}
.landingPageContainer{
    height:20%;
    width:85%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: black;
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 1rem;
    border-top: none;
    border-right: none;
    transition: 0.5s linear;
}

.landingPageContainer:hover p span{
    color: var(--powder);
}

.descriptionContainer{
    width:40%;
    height:100%;
    padding-left:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1%;
    padding-left:5%;
}
.descriptionContainer p span{
    transition: 0.5s linear;
}
.descriptionContainer p{
    color:rgba(255, 255, 255, 0.2);
    margin-left:5%;
    font-size: 1.1rem;
}

.link{
    width:45%;
    height:12%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:8px;
    margin-left:3%;
    transition: 0.2s linear;
    border:solid 1px rgba(255, 255, 255, 0.1);
}
.link:hover{
   background-color: var(--powder);
}
.link:hover{
    transform: translateX(2%);
}
.icon{
    margin-left:2%;
}
.title1{
    margin-bottom: 0;
    font-size:1.7rem;
    font-weight: 400;
    color:var(--light-powder);
    font-family: var(--font-lexend);
    font-weight: 800;
}
.carouselContainer{
    width:55%;
    height:100%;
    align-self: flex-end;
    position: absolute;
    display:flex;
    align-items: center;
    right:0;
}
.apiPageContainer{
    width:100%;
    height:25%;
    background:radial-gradient(at top right,var(--space-blue), black);
    display: flex;
    align-items:center;
    justify-content: center;
    gap:2%;
}
.card{
    width:23%;
    height:80%;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    padding:2%;
    gap:6%;
    transition: 0.2s linear;
    border:solid 1px rgba(255, 255, 255, 0.1);
}
.card:hover{
    background-color: rgb(12, 12, 12);
    transform: translateY(-1%);
}
.card:hover p{
    color: var(--powder);
}
.card:hover .image{
    opacity:0.9;
}
.card p{
    color:rgba(255, 255, 255, 0.2);
    position: relative;
}
.card p:before{
    content:"";
    width:100%;
    height:1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left:0;
    top:-15;
}
.card span{
    font-size: 1.2rem;
}
.imageContainer{
    height:60%;
    overflow: hidden;
    width: 90%;
    position: relative;
    border-radius: 1rem;
}
.imageContainer:hover{
    cursor:pointer;
}
.image{
    width:100%;
    height:auto;
    opacity:0.6;
    border-radius: 1rem;
}

.imageContainer::after{
    width:100%;
    height:100%;
    content:" ";
    position: absolute;
    top:0;
    left:0;
}
.createdWithContainer{
    align-self: end;
    display: flex;
    justify-content: center;
    margin-right:10%;
    margin-top: 0;
    align-items: center;
    width:20%;
    height:10vh;
    color:rgba(255, 255, 255, 0.3);
    gap:2%;
}
/*-----------carousel----------*/
.carousel {
    position: relative;
    width: 100%;
    height:auto;
    overflow: hidden;
    border-radius: 16px;
}
.track {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide {
    width:100%;
    height:100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide video{
    width: auto;
    height: 15rem;
    border-radius: 16px;
    opacity:0.6;
}
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left:15;
}
.next {
    right:15;
}

@media (max-width: 640px) {
    .thirdPageMainContainer {
        top:300vh;
        height:170vh;
        justify-content: start;
        padding-top: 5%;
        padding-bottom:0;
    }
    .thirdPageMainContainer::before{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .titleContainer{
        margin-top: 10%;
        padding-left:10%;
    }
    .title{
        font-size: 1.3rem;
    }
    .subtitle{
        font-size: 1rem;
        margin-top: 10;
    }
    .backgroundContainer{
        padding-left:9.5%;
    }
    .backgroundImage{
        border:solid 1px rgba(255, 255, 255, 0.6);
    }
    .subtitleContainer{
        height:15vh;
        border-radius: 1rem;
    }
    .subtitleContainer h2{
        font-size: 2rem;
    }
    .subtitleContainer h3{
        font-size: 2.5rem;
    }
    .subtitleContainer p{
        font-size: 0.7rem;
        text-align: end;
    }
    .button{
        width:6rem;
        height:1.5rem;
        font-size: 0.7rem;
    }

    /*---------second page container---------*/
    .landingPageContainer{
        width:90%;
        height:35%;
        flex-direction: column;
    }
    .descriptionContainer{
        height:60%;
        width: 95%;
    }
    .title1{
        font-size: 1.5rem;
    }
    .descriptionContainer p{
        font-size: 0.9rem;
    }
    .link{
        border:solid 1px rgba(255, 255, 255, 0.3);
        font-size: 0.7rem;
        width:11rem;
        margin-bottom: 5%;
    }
    .descriptionContainer span{
        color:var(--light-powder);
    }
    .carouselContainer{
        height:50%;
        width: 95%;
        bottom:0;
        left:15;
    }
    /*------carousel----*/
   .slide video {
       width: auto;
       height: 9rem;
   }
   .apiPageContainer{
        height:18%;
        padding-top:2%;
   }
   .card{
        height:90%;
        width: 24%;
   }
   .card span{
        font-size: 0.8rem;
   }
   .card p{
      font-size: 0.7rem;
  }
  .createdWithContainer{
    width:70%;
    margin-right:0;
    margin-top: -3%;
  }
}