
.modalBackdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 2;

    animation: fadeIn 0.25s ease-out;
}

.modalContent {
    position: relative;
    animation: zoomIn 0.25s ease-out;
    transform-origin: center;
}

.modalClose {
    position: absolute;
    top: -40px;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.lightboxWrapper {
    position: relative;
    width: 80vw;
    height: 80vh;
}

.lightbox-image {
    object-fit: contain;
    border-radius: 12px;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.92);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}